@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* Homepage background color */
body{
  @apply bg-cyan-900
}
/* Updatepage background color */
.Update  {
  @apply h-screen text-center 
}
.Update button{
  @apply bg-purple-500 p-3 mx-5 rounded-xl hover:bg-purple-400 duration-500
}
/* Table style and color */
th {
  @apply bg-cyan-950  border border-slate-600
}
td {
  @apply  border border-slate-600
}

/* Form input on the update page */

.Form input {
  @apply text-center rounded-md
}

/* Input Home page style */

.AddValue {
  @apply rounded-xl p-2 border-2 border-cyan-500
}
/* Home button style */
tbody button {
  @apply p-2 rounded-md m-1
}