@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* Homepage background color */
.Home  {
  @apply bg-cyan-900
}
/* Updatepage background color */
.Update  {
  @apply bg-purple-200 h-screen text-center 
}
.Update button{
  @apply bg-purple-700 p-3 rounded-sm
}
/* Table style and color */
th {
  @apply bg-cyan-950  border border-slate-600
}
td {
  @apply  border border-slate-600
}

